main {
  width: 100%;
  background-color: #262625;
  height: 100%;
}

.form {
  background-color: #495B73;
  width: 75%;
  padding: 50px;
  margin: auto;
}

.form-label {
  color: #F2F2F2;
}

.form-control {
  width: 25%;
  min-width: 100px;
}

.form h2 {
  color: #F2F2F2;
}

.card {
  width: 75%;
  margin: auto;
  margin-top: 30px;
}

.table {
  width: 75%;
  background-color: #495B73;
  margin: auto;
  margin-top: 30px;
}

th,
td {
  color: #F2F2F2;
}

.errors {
  background-color: #495B73;
  width: 75%;
  margin: auto;
  color: red;
}

.carousel-item img {
  margin:auto;

}