header {
  border: 1px solid black;
  width: 100%;
  position: fixed;
  background-color: gray;
}

nav {
  border:1px solid black;
  width: 200px;
  background-color: gray;
}

header h1 {
  border:1px solid black;
  width: 100%;
  text-align: center;
  background-color: gray;
  font-size: 3vw;;
}
